.abt-bank h3, .abt-bank p{
    color: black;
    line-height: 200%;
}

.chairman{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #dedede;
}

.chairman img{
    height: 200px;
    width: 200px;
}

.chairman h4, .chairman p{
    color: black;
    text-align: center;
    line-height: 200%;
    padding: 10px;
}

.chairman img, .chairman h4{
    padding: 5px;
    display: inline-table;
    vertical-align: middle;
}