.navbar{
    height: auto;   
}

.logo{
    height: 25px;
    width: inherit;
    
}
.nav{
    margin: 0;
    display: inline-block;
}

.intro-block{
    background-color: cornsilk;
    padding: 100px 10px 10px;
}

.text-muted{
    color: black;
    font-weight:100;
}

.tpad{
    padding-top: 25px;
}

.carouselInfo{
    background-color: black;
    color: #fff;
}

.carousel-caption{
    z-index: 4;
    
}

.carousel-inner > .item > img{
    width: 660px;
    height: 400px;
}

.carousel-inner > .item{
    width: 660px;
    height: 400px;
}