h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;
}

.navbar{
    height: auto;   
}

.navbar-collapse{
    padding-right: 20px;   
}

.logo{
    height: 25px;
    width: inherit;
    
}
.nav{
    margin: 0;
    display: inline-block;
}

.intro-block{
    background: url("../images/background.jpg");
    padding: 70px 15px 20px;
}

.text-muted{
    color: darkred;
    font-weight:100;
}

.text-success{
    color: aliceblue;
    font-weight: 100;
}

.tpad{
    padding-top: 25px;
}

.btn-block{
    background-color: mediumblue; 
    color: #ffffff;
    transition: all 0.3s ease 0s;
    border-radius: 25px;
    box-shadow: 0 9px black;
}

.btn-block:hover { 
    border-color: indianred; 
    background-color: indianred; 
    border-color: #357ebd;
    
}

.btn-block:active {
  background-color: blue;
  box-shadow: 0 5px #666;
  transform: translateY(3px);
}

.carouselInfo{
    background-color: black;
    color: #fff;
}

.carousel-caption{
    z-index: 4;
    
}

.carousel-inner > .item > img{
    width: 660px;
    height: 400px;
}

.carousel-inner > .item{
    width: 660px;
    height: 400px;
}

.img{
    background-color: white;
    padding-top: 30px;
    height: 570px;
}

.panel{
    background-color: black;
}