.buttonLogin span:after 
{
  content: ' ';  
  position: absolute;
  top: 0;
  right: -18px;
  opacity: 0;
  width: 10px;
  height: 10px;
  margin-top: -10px;
  font-family: "Raleway", sans-serif; font-size: 24px;
  background: rgba(0, 0, 0, 0);
  border: 3px solid #444;
  border-top: none;
  border-right: none;

  transition: opacity 0.5s, top 0.5s, right 0.5s;
  transform: rotate(-45deg);
}

.buttonLogin:hover span, .buttonLogin:active span 
{
  padding-right: 30px;
}

.buttonLogin:hover span:after, .buttonLogin:active span:after 
{
  transition: opacity 0.5s, top 0.5s, right 0.5s;
  opacity: 1;
  border-color: #444;
  right: 0;
  top: 50%;
}