#rates table ,th , td{
	font-family: 'Raleway', sans-serif;
	border:1px solid black;
	padding: 10px; 
}
#rates tr:nth-child(odd){
	background-color: #444;
	color: #93ce33;
}
#rates tr:nth-child(even){
	color:black;
}